# Configuration file for running overlay on 193 AIA background with a better contrast than the default

bin = /pool/home/benjmam/SOLID/second_version/SPoCA/bin/overlay.x


# The label for the contours.
# You can use keywords from the color map fits file by specifying them between {}
Label = 'Algo: {CLASTYPE}\nPreprocessing: {CPREPROC}\nmin size: {MINSIZE} arcsec²\nminestimated lifetime: 3 days'

# Set this flag if you want a label on the background.
label

# The steps of preprocessing to apply to the background images for contrast enhancement
# If not specified the specific contrast enhancement for the intrument will be used
# Possible values :
# 	NAR (Nullify above radius)
# 	ALC (Annulus Limb Correction)
# 	DivMedian (Division by the median)
# 	TakeSqrt (Take the square root)
# 	TakeLog (Take the log)
# 	DivMode (Division by the mode)
# 	DivExpTime (Division by the Exposure Time)
preprocessingSteps DivExpTime,ALC,ThrMax99
	
# The size of the image written. i.e. 1024x1024
# See ImageMagick Image Geometry for specification.
size = 1024x1024

# Set this flag if you want the contours outside the regions.	
external

# Set this flag if you want the contours inside the regions.
# internal

# The list of colors to select separated by commas (no spaces)
# All colors will be selected if ommited.
# colors

# A file containing a list of colors to select separated by commas
# All colors will be selected if ommited.
colorsFilename = /pool/home/benjmam/HEK_AIA_2010_2011/spoca_ch_hek/colors.txt

# Set this flag if you want to fill holes before taking the contours.
# mastic

# The width of the contour.
# If not specified a best value will be chosen
# width
