# Configuration file for running get_STAFF_stats on AIA segmentation maps

bin = /pool/bem/spoca/bin/get_STAFF_stats.x

# The steps of preprocessing to apply to the sun images.
# Possible values :
# 	NAR (Nullify above radius)
# 	ALC (Annulus Limb Correction)
# 	DivMedian (Division by the median)
# 	TakeSqrt (Take the square root)
# 	TakeLog (Take the log)
# 	DivMode (Division by the mode)
# 	DivExpTime (Division by the Exposure Time)

intensitiesStatsPreprocessing = NAR,DivExpTime

# The type of the images.
# Possible values are : EIT, EUVI, AIA, SWAP, HMI
imageType = AIA

# The ratio of the radius of the sun that will be used for the segmentation stats.
intensitiesStatsRadiusRatio = 1

# The color corresponding to the AR class in the ARSegmentedMap.
ARClass = 3

# The color corresponding to the CH class in the CHSegmentedMap
CHClass = 1

# The separator to put between columns.
separator = , 
