# Configuration file for running get_segmentation_stats

bin = /pool/bem/spoca/bin/get_segmentation_stats.x

# The steps of preprocessing to apply to the sun images for the intensities stats.
# Possible values :
# 	NAR (Nullify above radius)
# 	ALC (Annulus Limb Correction)
# 	DivMedian (Division by the median)
# 	TakeSqrt (Take the square root)
# 	TakeLog (Take the log)
# 	DivMode (Division by the mode)
# 	DivExpTime (Division by the Exposure Time)
intensitiesStatsPreprocessing = NAR,DivExpTime
	
# The ratio of the radius of the sun that will be used for the intensities stats.
intensitiesStatsRadiusRatio = 0.95

# The type of the limit of the area of the map taken into account the computation of stats.
# Possible values :
#	NAR
#	Long
#	Lat

areaLimitType = Long	
	

# The value for the areaLimitType.
areaLimitValue = 15

# The type of the images.
# Possible values are : EIT, EUVI, AIA, SWAP
# imageType = AIA

# Set this flag if you want append a new table in the fitsfile with the segmentation stats.
# append

# The list of classes to select separated by commas (no spaces)
# All classes will be selected if ommited.
# classes

# A file containing a list of classes to select separated by commas
# All classes will be selected if ommited.
# classesFilename

# The separator to put between columns.
separator = , 
