# Configuration file for running tracking

bin = ./bin1/tracking.x

# Set this flag if you want all images to be colored and written to disk.
# Otherwise only the region table is updated.
recolorImages

# Set this flag if you want images to be derotated before comparison.
derotate

# The name of the region table Hdu
# regionTableHdu = Regions 
	
# The maximal delta time between 2 tracked regions
max_delta_t = 14400

# The first color to attribute to a region
# newColor = 0

# The number of images that overlap between 2 tracking run
overlap = 1

# The maximum number of files to track at once
max_files = 4

