#Configuration file for the program bin/get_STAFF_stats.x

# global parameters
global:

# The color corresponding to the AR class in the ARSegmentedMap.
ARClass = 3

# The color corresponding to the CH class in the CHSegmentedMap.
CHClass = 1

# The type of the images.
# Possible values are : EIT, EUVI, AIA, SWAP
#imageType = Unknown

# The name for the output file or of a directory.
#output = .

# The separator to put between columns in the csv file.
#separator = ,

# The steps of preprocessing to apply to the sun images.
# Can be any combination of the following:
#  NAR=zz.z (Nullify pixels above zz.z*radius)
#  ALC (Annulus Limb Correction)
#  DivMedian (Division by the median)
#  TakeSqrt (Take the square root)
#  TakeLog (Take the log)
#  TakeAbs (Take the absolute value)
#  DivMode (Division by the mode)
#  DivExpTime (Division by the Exposure Time)
#  ThrMin=zz.z (Threshold intensities to minimum zz.z)
#  ThrMax=zz.z (Threshold intensities to maximum zz.z)
#  ThrMinPer=zz.z (Threshold intensities to minimum the zz.z percentile)
#  ThrMaxPer=zz.z (Threshold intensities to maximum the zz.z percentile)
#  Smooth=zz.z (Binomial smoothing of zz.z arcsec)
statsPreprocessing = NAR=1
