#Configuration file for the program classification.x

# global parameters
global:

# The name of the file containing the centers. If it it not provided the centers will be initialized randomly.
centersFile = centers.txt

# The steps of preprocessing to apply to the sun images.
# Can be any combination of the following:
#  NAR=zz.z (Nullify pixels above zz.z*radius)
#  ALC (Annulus Limb Correction)
#  DivMedian (Division by the median)
#  TakeSqrt (Take the square root)
#  TakeLog (Take the log)
#  DivMode (Division by the mode)
#  DivExpTime (Division by the Exposure Time)
#  ThrMin=zz.z (Threshold intensities to minimum zz.z)
#  ThrMax=zz.z (Threshold intensities to maximum zz.z)
#  ThrMinPer=zz.z (Threshold intensities to minimum the zz.z percentile)
#  ThrMaxPer=zz.z (Threshold intensities to maximum the zz.z percentile)
#  Smooth=zz.z (Binomial smoothing of zz.z arcsec)
#imagePreprocessing = NAR=1.4,ALC,DivExpTime

# The type of the images.
# Possible values: EIT, EUVI, AIA, SWAP
imageType = AIA

# Set to false if you don't want to write the segmentation map.
map = false

# The number of previous centers to take into account for the median computation of final centers.
#numberPreviousCenters = 0

# The name for the output file or of a directory.
#output = .

# Set to register/align the images when running multi channel classification.
#registerImages = false

# Set to compute stats about the generated maps.
#stats = false

# The steps of preprocessing to apply to the sun images.
# Can be any combination of the following:
#  NAR=zz.z (Nullify pixels above zz.z*radius)
#  ALC (Annulus Limb Correction)
#  DivMedian (Division by the median)
#  TakeSqrt (Take the square root)
#  TakeLog (Take the log)
#  DivMode (Division by the mode)
#  DivExpTime (Division by the Exposure Time)
#  ThrMin=zz.z (Threshold intensities to minimum zz.z)
#  ThrMax=zz.z (Threshold intensities to maximum zz.z)
#  ThrMinPer=zz.z (Threshold intensities to minimum the zz.z percentile)
#  ThrMaxPer=zz.z (Threshold intensities to maximum the zz.z percentile)
#  Smooth=zz.z (Binomial smoothing of zz.z arcsec)
#statsPreprocessing = NAR=0.95

# The type of classifier to use for the classification.
# Possible values: FCM, PFCM, PCM, PCM2, SPoCA, SPoCA2, HFCM(Histogram FCM), HPFCM(Histogram PFCM), HPCM(Histogram PCM), HPCM2(Histogram PCM2)
type = HPCM2

# Set this to true if you want results maps to be uncompressed.
#uncompressed = false

# classification parameters
classification:

# The FCM fuzzifier value. Set if you want to override the global fuzzifier value for FCM.
#FCMfuzzifier = 2

# The FCM weight for PFCM classification.
#FCMweight = 2

# The PCM fuzzifier value. Set if you want to override the global fuzzifier value for PCM.
#PCMfuzzifier = 2

# The PCM  weight for PFCM classification.
#PCMweight = 2

# The size of the bins of the histogram.
# NB : Be carreful that the histogram is built after the image preprocessing.
binSize = 1,1

# The fuzzifier value
fuzzifier = 2

# The maximal number of iteration for the classification.
maxNumberIteration = 100

# Only for spatial classifiers like SPoCA. The neighborhoodRadius is half the size of the square of neighboors.
# For example with a value of 1, the square has a size of 3x3.
#neighborhoodRadius = 1

# The number of classes to classify the sun images into.
numberClasses = 6

# The precision to be reached to stop the classification.
precision = 0.0015

# segmentation parameters
segmentation:

# The type of segmentation. Possible values are : max, closest, threshold, limits, fix
type = max
