#Configuration file for the program tracking.x
#The following parameters are the ones used for tracking CH and AR maps at HEK

# global parameters
global:

# Set this to false if you dont want images to be derotated before comparison.
derotate = true

# The maximal number of seconds between 2 tracked regions
maxDeltaT = 14400

# The first color to attribute to a new untracked region
#newColor = 0

# The number of images that overlap between 2 tracking run
overlap = 2

# Set this flag if you want all images to be colored and written to disk.Otherwise only the region table is updated.
#recolorImages = false

# The name of the region table Hdu
#regionTableName = Regions

# Set this flag if you want results maps to be uncompressed.
#uncompressed = false
