#Configuration file for the program bin/get_CH_map.x
#The following parameters are the ones used for computing CH maps at HEK

# global parameters
global:

# The value of the pixels in the segmentation map corresponding to Coronal Hole.
color = 1

# The type of the images.
# Possible values are : EIT, EUVI, AIA, SWAP
#imageType = Unknown

# The name for the output file or of a directory.
#output = .

# Set to register/align the images to the map.
#registerImages = false

# The steps of preprocessing to apply to the sun images.
# Can be any combination of the following:
#  NAR=zz.z (Nullify pixels above zz.z*radius)
#  ALC (Annulus Limb Correction)
#  DivMedian (Division by the median)
#  TakeSqrt (Take the square root)
#  TakeLog (Take the log)
#  TakeAbs (Take the absolute value)
#  DivMode (Division by the mode)
#  DivExpTime (Division by the Exposure Time)
#  ThrMin=zz.z (Threshold intensities to minimum zz.z)
#  ThrMax=zz.z (Threshold intensities to maximum zz.z)
#  ThrMinPer=zz.z (Threshold intensities to minimum the zz.z percentile)
#  ThrMaxPer=zz.z (Threshold intensities to maximum the zz.z percentile)
#  Smooth=zz.z (Binomial smoothing of zz.z arcsec)
#statsPreprocessing = NAR=0.95,DivExpTime

# Set this flag if you want results maps to be uncompressed.
#uncompressed = false

# mapPreprocessing parameters
mapPreprocessing:

# Aggregate regions so that one region correspond to only one connected component
aggregated = false

# Aggregation factor in arcsec.
aggregation = 32

# The maximal deviation of the chaincode curve between 2 points, in arcsec.
chaincodeMaxDeviation = 10

# The maximal number of points in a chaincode.
chaincodeMaxPoints = 100

# The minimal number of points in a chaincode.
#chaincodeMinPoints = 4

# Cleaning factor in arcsec.
cleaning = 6

# Minal size of regions in arcsec². Smaller regions will be discarded
minimalSize = 3000

# Projection used for the aggregation.
projection = sinusoidal

# When discarding small regions, use raw area instead of real area.
useRawArea = false
