#Configuration file for the program ../bin/overlay.x

# global parameters
global:

# The label to write on the lower left corner.
# You can use keywords from the color map fits file by specifying them between {}
lowerLabel = Active Regions detected by {CLASTYPE}\nPreprocessing: {CPREPROC}\nMinimum size: {MINSIZE} arcsec²

# The label to write on the upper left corner.
# If set but no value is passed, a default label will be written.
# You can use keywords from the color map fits file by specifying them between {}
upperLabel = 


# The list of color of the regions to plot separated by commas. All regions will be selected if ommited.
#colors = 

# Set this flag if you want to fill holes in the regions before ploting the contours.
#fill = false

# The steps of preprocessing to apply to the sun images.
# Can be any combination of the following:
#  NAR=zz.z (Nullify pixels above zz.z*radius)
#  ALC (Annulus Limb Correction)
#  DivMedian (Division by the median)
#  TakeSqrt (Take the square root)
#  TakeLog (Take the log)
#  TakeAbs (Take the absolute value)
#  DivMode (Division by the mode)
#  DivExpTime (Division by the Exposure Time)
#  ThrMin=zz.z (Threshold intensities to minimum zz.z)
#  ThrMax=zz.z (Threshold intensities to maximum zz.z)
#  ThrMinPer=zz.z (Threshold intensities to minimum the zz.z percentile)
#  ThrMaxPer=zz.z (Threshold intensities to maximum the zz.z percentile)
#  Smooth=zz.z (Binomial smoothing of zz.z arcsec)
imagePreprocessing = ThrMin1,ThrMax99

# Set this flag if you want the contours inside the regions.
# Will be outside otherwise.
#internal = false

# The path of the the output directory.
#output = .

# Set to the position of the new sun center if you want to translate the image
# EIT 171 most frequent sun center
recenter = 507.0,518.8

# Set to register/align the images to the map.
#registerImages = false

# Set to the scaling factor if you want to rescale the image.
#scaling = 1

# The size of the image written. i.e. "1024x1024". See ImageMagick Image Geometry for specification.
# If not set the output image will have the same dimension as the input image.
size = 1024x1024

# Set if you want to rotate the image so the solar north is up.
straightenUp = true

# The type of image to write.
#type = png

# Set to a color if you want all contours to be plotted in that color.
# See gradient image for the color number.
#uniqueColor = 7

# The width of the contour in pixels.
#width = 1
