# Configuration file for running classification for AR and CH on EIT channel 171 and 195

bin = ./bin2/classification.x

# The type of the images.
# Possible values are : EIT, EUVI, AIA, SWAP
imageType = EIT

# The steps of preprocessing to apply to the sun images.
# Possible values :
# 	NAR (Nullify above radius)
# 	ALC (Annulus Limb Correction)
# 	DivMedian (Division by the median)
# 	TakeSqrt (Take the square root)
# 	TakeLog (Take the log)
# 	DivMode (Division by the mode)
# 	DivExpTime (Division by the Exposure Time)
preprocessingSteps = ALC,TakeSqrt

# The ratio of the radius of the sun that will be processed.
radiusratio = 1.3

# The type of classifier to use for the classification.
# Possible values are : FCM, PFCM, PCM, PCM2, SPoCA, SPoCA2, HFCM(Histogram FCM), HPFCM(Histogram PFCM), HPCM(Histogram PCM), HPCM2(Histogram PCM2)
classifierType = SPoCA2

# The number of classes to classify the sun images into.
numberClasses = 4

# The fuzzifier (m).
fuzzifier = 2

# The maximal number of iteration for the classification.
maxNumberIteration = 1000

# The precision to be reached to stop the classification.
precision = 0.0015

# Only for spatial classifiers like SPoCA.
# The neighboorhoodRadius is half the size of the square of neighboors, for example with a value of 1, the square has a size of 3x3.
# neighboorhoodRadius = 1

# The name of the file containing the centers.
# If it it not provided the centers will be initialized randomly.
#centersFile = /pool/bem/spoca_EIT_1996_2011/centers.txt
centersFile = /pool/staff/EIT_1996_2012/centers.txt

# The number of previous saved centers to take into account for the final attribution.
numberPreviousCenters = 0

# The size of the bins of the histogram.
# NB : Be carreful that the histogram is built after the preprocessing.
binSize = 0.01,0.01

# The name of a file containing an histogram.
# histogramFile = histogram.txt

# The segmentation type.
# Possible values :
# 	max (Maximum of Uij)
# 	closest (Closest center)
# 	threshold (Threshold on Uij)
# 	limits (Merge on centers value limits)
# 	fix (Merge on fix CH QS AR)
segmentation = fix


# Only for limit segmentation.
# The name of the file containing the max limits.
# maxLimitsFile = maxLimitsFile.txt
	
# Only for threshold segmentation.
# The parameter of the threshold segmentation.
# Must be of the form class_number,lowerIntensity_minMembership,higherIntensity_minMembership
# tr = 2,0,0.0001

# Only for fix segmentation.
# The classes of the Coronal Hole.
ch = 1
# The classes of the Quiet Sun.
qs = 2,3
# The classes of the Active Region.
ar = 4

# The kind of maps to generate.
# Possible values :
# 	A (Active Region)
# 	C (Coronal Hole)
# 	S (Segmented)
maps = A,C,S


# Set this flag if you want results maps to be uncompressed.
# uncompressedMaps

# The steps of preprocessing to apply to the sun images (see preprocessingSteps for possible values).
# Default Value: NAR
intensitiesStatsPreprocessing = NAR

# The ratio of the radius of the sun that will be used for the region stats.
intensitiesStatsRadiusRatio = 1.00

# The maximal number of points in a chaincode.
chaincodeMaxPoints = 0

# The maximal deviation of the chaincode curve between 2 points, in arcsec.
chaincodeMaxDeviation = 10

