# Configuration file for running overlay

bin = ./bin/overlay.x

# The label for the contours.
# You can use keywords from the color map fits file by specifying them between {}
Label = '{CLASTYPE} {CPREPROC}'

# Set this flag if you want a label on the background.
label

# The steps of preprocessing to apply to the background images for contrast enhancement
# If not specified the specific contrast enhancement for the intrument will be used
# Possible values :
# 	NAR (Nullify above radius)
# 	ALC (Annulus Limb Correction)
# 	DivMedian (Division by the median)
# 	TakeSqrt (Take the square root)
# 	TakeLog (Take the log)
# 	DivMode (Division by the mode)
# 	DivExpTime (Division by the Exposure Time)
preprocessingSteps = ThrMin0.5,ThrMax99.5

# The size of the image written. i.e. 1024x1024
# See ImageMagick Image Geometry for specification.
size = 1024x1024

# Set this flag if you want the contours outside the regions.	
# external

# Set this flag if you want the contours inside the regions.
# internal

# The list of colors to select separated by commas (no spaces)
# All colors will be selected if ommited.
# colors = 1

# A file containing a list of colors to select separated by commas
# All colors will be selected if ommited.
# colorsFilename = /path/to/colors.txt

# Set this flag if you want to fill holes before taking the contours.
# mastic

# The width of the contour.
# If not specified a best value will be chosen
# width = 1

# The position of the new center
# EIT 171 most frequent sun center
# recenter = 507.0,518.8
# EIT 195 most frequent sun center
# recenter = 506.5,518.3

# The scaling factor.
# scaling = 1

# Set this flag if you want to have the solar north up.
# straightenUp




