#!/usr/bin/env python2.6

## Parameters for the run spoca

# If yowant to retry on fails job
max_submission_retry = 3


## Parameter for the segmentation
segmentation['bin'] = '/pool/bem/spoca/bin/classification.x'
segmentation['args'] = '-P DivExpTime,ALC,TakeSqrt -T HFCM -C 4 -p 0.000000001 -r 1.2 -z 0.001 -S max -B centers.txt -I AIA -M C -G NAR,DivExpTime -R 0.95'
segmentation['repo'] = '/pool/bem/spoca_results/fitsfiles'
segmentation['map_suffix'] = '.CHmap.fits'
segmentation['extra'] = None


## Parameters for the tracking
do_tracking = True
tracking['bin'] = '/pool/bem/spoca/bin/tracking.x'
tracking['args'] = '-A -H CoronalHoleStats -d 3600 -o 3 -n 0'
tracking['nbrimages'] = 9
tracking['overlap'] = 3
tracking['extra'] = {'priority':'10'}

## Parameters for overlays
do_overlay = True
overlay['bin'] = '/pool/bem/spoca/bin/overlay.x'
overlay['args'] = '-e -l {IMAGE001} --size 1024x1024 -M'
overlay['repo'] = '/pool/bem/spoca_results/overlays'
overlay['extra'] = {'priority':'-10', 'requirements':'Machine=="cl0.sdodb.oma.be" || Machine=="cl1.sdodb.oma.be" || Machine=="cl2.sdodb.oma.be" || Machine=="cl3.sdodb.oma.be"'}

## Parameters for the frames
# Making frames can be skipped if the result of overlay are good as is (size is provided for example)
do_frame = False
frame['bin'] = 'convert'
frame['args'] = '-resize 1024x1024> -depth 8'
frame['repo'] = '/pool/bem/spoca_results/frames'
frame['extra'] = {'requirements':'Machine=="cl0.sdodb.oma.be" || Machine=="cl1.sdodb.oma.be" || Machine=="cl2.sdodb.oma.be" || Machine=="cl3.sdodb.oma.be"'}

## Parameters for the movie
do_movie = False
movie['bin'] = 'mencoder'
movie['args'] = '-mf fps=8 -vf scale=720:720 -noskip -ovc lavc -lavcopts vcodec=msmpeg4v2:mbd=2:trell:cmp=3:subcmp=3:autoaspect:vbitrate=1200'
movie['number_passes'] = 2
movie['filename'] = '/pool/bem/spoca_results/movie.avi'
movie['extra'] = {'requirements':'Machine=="cl0.sdodb.oma.be"'}
movie['nbrframes'] = 50
