#!/usr/bin/env python2.6

## Parameters for running many jobs

# If yowant to retry on fails job
max_submission_retry = 3


## Parameter for the jobs
jobs_info['executable'] = '/pool/bem/spoca/bin/get_region_stats.x'
jobs_info['args'] = '-S C -s | -G NAR,DivExpTime -R 1.0 {IMAGE001} -M '
jobs_info['repo'] = '/pool/bem/spoca/results/'
jobs_info['extra'] = None
